<h2><%= @title %></h2>
<div class="header">
  <%= link_to 'HOME', controller: 'items', action: 'index' %>
  <%= link_to 'NEW', controller: 'items', action: 'new' %>
  <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
</div>
<ul>
  <% @items.each do |item|%>
  <section class="card">
	<div class="card-content">
	  <h1 class="card-title"><%= item.title[0,30] %></h1>
	  <p class="card-text"><%= item.plain_body.gsub(/<.*?>/, "")[0,30] %></p>
	  <p class="card-text">username:<%= User.where("id = ?", item.user_id).first.nickname %></p>
	  <p class="card-text">
		<button onClick="good_click(<%= current_user.id %>, <%= item.id%>)">iine!:<div id="goods-count"><%= Good.all.count %></div></button>
		<button onClick="bad_click(<%= current_user.id %>, <%= item.id%>)">yokunaine!:<div id="bads-count"><%= Bad.all.count %></div></button>
	  </p>
	</div>
	<div class="card-link">
	  <a href="/items/show/<%= item.id%>">read</a>
	</div>
  </section>
  <% end %>
</ul>
<%= stylesheet_link_tag "items/index", media: "all" %>
<%= hidden_field_tag "authenticity_token", form_authenticity_token %>
